body { background: #991d1d; color: #fff; font-family: sans-serif; }

.external-container { width: 640px; height: 480px; margin: 0 auto; background: #991d1d; padding-top: 5px; padding-left: 5px; }
.container { width: 630px; height: 470px; background: #991d1d; }

.options-view { background: #991d1d; overflow-y: scroll; }
.zombie-view { background: #991d1d; text-align: center; }

.options-view,
.zombie-view { float: left; width: 50%; height: 470px; }

.options-pane { width: 95%; margin: 10px auto; }
.options-view .logo { width: 200px; text-align: center; }
.options-view .logo img { width: 100%; }
.options-pane .options-header { font-weight: bold; background: #ac3939; padding: 5px; cursor: pointer; }
.options-pane .options-header img { height: 16px; }
.options-pane .options-header .icon-collapse { background: url( 'images/collapse.png' ); }
.options-pane .options-header .icon-expand { background: url( 'images/expand.png' ); }
.options-pane .options-header .icon { width: 20px; height: 20px; float: right; }
.options-pane .options-contents { background: #891111; padding: 5px; }
.options-pane .sub-contents p { padding: 0; margin: 0; font-size: 0.9em; }

.options-pane .select-button { cursor: pointer; width: 110px; background: #fff; border: solid 1px #250202; margin: 10px; }

.zombie-view .zombie-avatar { position: relative; height: 350px; }
.zombie-view .zombie-avatar img { position: absolute; left: 30px; }
.zombie-view input[type=text] { background: #891111; color: #fff; font-size: 2em; width: 100%; margin-left: 10px; border: none; text-align: center; }

input[type=button] { font-weight: bold; background: #ac3939; padding: 5px; cursor: pointer; border: none; color: #fff; font-size: 1.5em; }

/*
.size-1 { display: inline-block; }
.size-2 { display: none; }
*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
